<TMPL_VAR CONTENT>
<TMPL_LOOP TAGS>
[[!tag <TMPL_VAR TAG>]]
</TMPL_LOOP>
<TMPL_IF TITLE>
[[!meta title="<TMPL_VAR TITLE ESCAPE=HTML>"]]
</TMPL_IF>
<TMPL_IF PERMALINK>
[[!meta permalink="<TMPL_VAR PERMALINK ESCAPE=HTML>"]]
</TMPL_IF>
<TMPL_IF COPYRIGHT>
[[!meta copyright="<TMPL_VAR COPYRIGHT ESCAPE=HTML>"]]
</TMPL_IF>
<TMPL_IF AUTHOR>
[[!meta author="<TMPL_VAR AUTHOR ESCAPE=HTML> (<TMPL_VAR NAME ESCAPE=HTML>)"]]
<TMPL_ELSE>
[[!meta author="<TMPL_VAR NAME ESCAPE=HTML>"]]
</TMPL_IF>
[[!meta authorurl="<TMPL_VAR URL ESCAPE=HTML>"]]
