<div class="archivepage">
<TMPL_IF PERMALINK>
<a href="<TMPL_VAR PERMALINK>"><TMPL_VAR TITLE></a><br />
<TMPL_ELSE>
<a href="<TMPL_VAR PAGEURL>"><TMPL_VAR TITLE></a><br />
</TMPL_IF>
<span class="archivepagedate">
Posted <TMPL_VAR CTIME>
<TMPL_IF AUTHOR>
by <span class="author">
<TMPL_IF AUTHORURL>
<a href="<TMPL_VAR AUTHORURL>"><TMPL_VAR AUTHOR></a>
<TMPL_ELSE>
<TMPL_VAR AUTHOR>
</TMPL_IF>
</span>
</TMPL_IF>
</span>
</div>
