<article class="comment card my-3" id="<TMPL_VAR COMMENTID>">
	<TMPL_IF COMMENTAUTHORAVATAR>
	<div class="comment-avatar">
		<img src="<TMPL_VAR COMMENTAUTHORAVATAR>" alt="" />
	</div>
	</TMPL_IF>

	<div class="commentheader card-header">
		<header class="comment-subject" title="<TMPL_VAR TITLE>">
			<TMPL_IF PERMALINK>
			<a href="<TMPL_VAR PERMALINK>"><TMPL_VAR TITLE></a>
			<TMPL_ELSE>
			<TMPL_VAR TITLE>
			</TMPL_IF>
		</header>
	</div>

	<div class="commentcontent card-body card-text">
		<TMPL_VAR CONTENT>
	</div>

	<footer class="commentfooter card-footer text-muted">
		Posted <TMPL_VAR CTIME>
		<TMPL_IF COMMENTUSER>
			by
			<TMPL_IF COMMENTOPENID>
				<span class="author" title="OpenID">
					<a href="<TMPL_VAR COMMENTOPENID>"><TMPL_VAR COMMENTAUTHOR></a>
				</span>
				<TMPL_ELSE>
				<span class="author" title="Signed in">
					<TMPL_IF COMMENTAUTHORURL>
					<a href="<TMPL_VAR COMMENTAUTHORURL>"><TMPL_VAR COMMENTAUTHOR></a>
					<TMPL_ELSE>
					<TMPL_VAR COMMENTAUTHOR>
					</TMPL_IF>
				</span>
			</TMPL_IF>
		<TMPL_ELSE>
			<TMPL_IF AUTHOR>
			by
			<TMPL_IF COMMENTIP>
			<span class="author" title="Unauthenticated, from <TMPL_VAR COMMENTIP>">
			<TMPL_ELSE>
			<span class="author" title="Unauthenticated, from unknown IP address">
			</TMPL_IF>
				<TMPL_IF AUTHORURL>
				<a href="<TMPL_VAR AUTHORURL>"><TMPL_VAR AUTHOR></a>
				<TMPL_ELSE>
				<TMPL_VAR AUTHOR>
				</TMPL_IF>
			</span>
			</TMPL_IF>
		</TMPL_IF>

		<TMPL_IF HAVE_ACTIONS>
		<nav class="actions">
			<ul>
				<TMPL_IF REMOVEURL>
				<li><a href="<TMPL_VAR REMOVEURL>" rel="nofollow"><i class="fa fa-fw fa-trash"></i>Remove comment</a></li>
				</TMPL_IF>
			</ul>
		</nav>
		</TMPL_IF>
	</footer>
</article>
