<p class="error">
<b>While you were creating this page, someone else independently created a page
with the same name.</b>
</p>
<p>
The edit box below contains the page's current content, followed by the
content you entered previously, to allow you to merge the two
together before saving.
</p>
