<p class="error">
<b>Your changes conflict with other changes made to the page.</b>
</p>
<p>
Conflict markers have been inserted into the page content. Reconcile the
conflict and commit again to save your changes.
</p>
