To log into <TMPL_VAR WIKINAME>, just open the following link:

<TMPL_VAR AUTHURL>

This link can only be used once to log in, and will expire in one day.

(Please disregard this email if you were not trying to log in.)

-- 
ikiwiki
