<div <TMPL_IF ID>id="<TMPL_VAR ID ESCAPE=HTML>"</TMPL_IF> class="feedlink btn-group float-right">
	<TMPL_IF RSSURL>
	<a class="btn feedbutton" type="application/rss+xml" rel="alternate" title="<TMPL_VAR RSSDESC>" href="<TMPL_VAR RSSURL>"><i class="fa fa-fw fa-rss"></i>RSS</a>
	</TMPL_IF>
	<TMPL_IF ATOMURL>
	<a class="btn feedbutton" type="application/atom+xml" rel="alternate" title="<TMPL_VAR ATOMDESC>" href="<TMPL_VAR ATOMURL>"><i class="fa fa-fw fa-rss"></i>Atom</a>
	</TMPL_IF>
</div>
<div class="clearfix"></p></div>
