
<form method="get" action="https://www.google.com/search" id="searchform">
 <div>
  <input name="sitesearch" value="<TMPL_VAR URL>" type="hidden" />
  <input name="q" value="" id="searchbox" size="16" maxlength="255" type="text"
    placeholder="search" />
 </div>
</form>
