<form method="get" action="https://www.google.com/search" id="searchform" class="form-inline">
	<input name="sitesearch" value="<TMPL_VAR URL>" type="hidden" />
	<input name="q" value="" id="searchbox" size="12" type="text" placeholder="Search…" class="form-control" />
</form>
