A <TMPL_IF NAME=ISCOMMENT>comment has been posted at<TMPL_ELSE>change has been made to</TMPL_IF>  <TMPL_VAR URL>
<TMPL_IF NAME=SHOWCONTENT>
----

<TMPL_VAR CONTENT>

----
</TMPL_IF>
To stop these notifications, visit <TMPL_VAR PREFSURL>
