<!DOCTYPE html>
<html <TMPL_IF HTML_LANG_CODE>lang="<TMPL_VAR HTML_LANG_CODE>" dir="<TMPL_VAR HTML_LANG_DIR>"</TMPL_IF> xmlns="http://www.w3.org/1999/xhtml">
<head>
	<TMPL_IF DYNAMIC>
	<TMPL_IF FORCEBASEURL><base href="<TMPL_VAR FORCEBASEURL>" />
	<TMPL_ELSE><TMPL_IF BASEURL><base href="<TMPL_VAR BASEURL>" /></TMPL_IF>
	</TMPL_IF>
	</TMPL_IF>
	<meta charset="utf-8" />
	<title><TMPL_VAR TITLE></title>
	<TMPL_IF RESPONSIVE_LAYOUT><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /></TMPL_IF>
	<TMPL_IF FAVICON><link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" /></TMPL_IF>
	<TMPL_IF BOOTSTRAP_LOCAL>
	<link rel="stylesheet" href="<TMPL_VAR BASEURL>css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="<TMPL_VAR BASEURL>css/bootstrap-icons.css" type="text/css" />
	<TMPL_ELSE>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" integrity="sha384-NUDU7Qr8dfscXBIhA0px/bRl3cgNrOT9l/WPm15DzH5xnBs4fL4vgRiXURs98/ID" crossorigin="anonymous">
	</TMPL_IF>
	<link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
	<TMPL_IF LOCAL_CSS>
	<link rel="stylesheet" href="<TMPL_VAR BASEURL><TMPL_VAR LOCAL_CSS>" type="text/css" />
	<TMPL_ELSE>
	<link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
	</TMPL_IF>
	<TMPL_UNLESS DYNAMIC>
	<TMPL_IF EDITURL>
	<link rel="alternate" type="application/x-wiki" title="Edit this page" href="<TMPL_VAR EDITURL>" />
	</TMPL_IF>
	<TMPL_IF FEEDLINKS><TMPL_VAR FEEDLINKS></TMPL_IF>
	<TMPL_IF RELVCS><TMPL_VAR RELVCS></TMPL_IF>
	<TMPL_IF META><TMPL_VAR META></TMPL_IF>
	<TMPL_LOOP TRAILLOOP>
	<TMPL_IF PREVPAGE>
	<link rel="prev" href="<TMPL_VAR PREVURL>" title="<TMPL_VAR PREVTITLE>" />
	</TMPL_IF>
	<link rel="up" href="<TMPL_VAR TRAILURL>" title="<TMPL_VAR TRAILTITLE>" />
	<TMPL_IF NEXTPAGE>
	<link rel="next" href="<TMPL_VAR NEXTURL>" title="<TMPL_VAR NEXTTITLE>" />
	</TMPL_IF>
	</TMPL_LOOP>
	</TMPL_UNLESS>
</head>

<body>
	<div id="notfooter">
		<header id="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<TMPL_IF NAME="PARENTLINKS">
				<TMPL_LOOP NAME="PARENTLINKS">
				<TMPL_IF NAME="DEPTH_0"><a class="navbar-brand" href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a></TMPL_IF>
				</TMPL_LOOP>
				<TMPL_ELSE>
				<a class="navbar-brand" href="#"><TMPL_VAR TITLE></a>
				</TMPL_IF>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<TMPL_LOOP NAME="PARENTLINKS">
						<TMPL_UNLESS NAME="DEPTH_0"><li class="nav-item hidden-md-down"><a class="nav-link" href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a></li></TMPL_UNLESS>
						</TMPL_LOOP>
						<TMPL_IF NAME="PARENTLINKS">
						<li class="nav-item"><a class="nav-link active hidden-md-down" href="#"><TMPL_VAR TITLE><TMPL_IF ISTRANSLATION>&nbsp;(<TMPL_VAR PERCENTTRANSLATED>%)</TMPL_IF></a></li>
						</TMPL_IF>
					</ul>

					<TMPL_UNLESS DYNAMIC>
					<TMPL_VAR TRAILS>
					</TMPL_UNLESS>

					<TMPL_IF HAVE_ACTIONS>
					<div class="actions">
						<ul class="navbar-nav">
							<TMPL_IF EDITURL>
							<li class="nav-item"><a class="nav-link" href="<TMPL_VAR EDITURL>" rel="nofollow"><i class="bi bi-pencil"> </i>Edit</a></li>
							</TMPL_IF>
							<TMPL_IF RECENTCHANGESURL>
							<li class="nav-item"><a class="nav-link" href="<TMPL_VAR RECENTCHANGESURL>">RecentChanges</a></li>
							</TMPL_IF>
							<TMPL_IF HISTORYURL>
							<li class="nav-item"><a class="nav-link" href="<TMPL_VAR HISTORYURL>">History</a></li>
							</TMPL_IF>
							<TMPL_IF GETSOURCEURL>
							<li class="nav-item"><a class="nav-link" href="<TMPL_VAR GETSOURCEURL>">Source</a></li>
							</TMPL_IF>
							<TMPL_IF PREFSURL>
							<li class="nav-item"><a class="nav-link" href="<TMPL_VAR PREFSURL>"><i class="bi bi-gear"> </i>Preferences</a></li>
							</TMPL_IF>
							<TMPL_IF ACTIONS>
							<TMPL_LOOP ACTIONS>
							<li class="nav-item nav-link"><TMPL_VAR ACTION></li>
							</TMPL_LOOP>
							</TMPL_IF>
							<TMPL_IF COMMENTSLINK>
							<li class="nav-item nav-link"><TMPL_VAR COMMENTSLINK></li>
							<TMPL_ELSE>
							<TMPL_IF DISCUSSIONLINK>
							<li class="nav-item nav-link"><TMPL_VAR DISCUSSIONLINK></li>
							</TMPL_IF>
							</TMPL_IF>
						</ul>
					</div>
					</TMPL_IF>

					<TMPL_IF OTHERLANGUAGES>
					<div id="otherlanguages">
						<ul class="navbar-nav">
							<TMPL_LOOP OTHERLANGUAGES>
							<li class="nav-item">
								<a class="nav-link" href="<TMPL_VAR URL>"><TMPL_VAR LANGUAGE></a>
								<TMPL_IF MASTER>(master)<TMPL_ELSE>&nbsp;(<TMPL_VAR PERCENT>%)</TMPL_IF>
							</li>
							</TMPL_LOOP>
						</ul>
					</div>
					</TMPL_IF>

					<TMPL_UNLESS DYNAMIC>
					<TMPL_IF SEARCHFORM>
					<TMPL_VAR SEARCHFORM>
					</TMPL_IF>
					</TMPL_UNLESS>
				</div>
			</div>
		</nav>
		</header>

		<div class="container">
			<TMPL_UNLESS DYNAMIC>
			<TMPL_IF SIDEBAR>
			<div class="row">
			<div class="col-sm-8 col-md-9">
			</TMPL_IF>
			</TMPL_UNLESS>

			<main id="content">
				<TMPL_VAR CONTENT>
			</main>

			<TMPL_IF ENCLOSURE>
			<section id="enclosure" title="Download">
				<a href="<TMPL_VAR ENCLOSURE>">Download</a>
			</section>
			</TMPL_IF>

			<TMPL_UNLESS DYNAMIC>
			<TMPL_IF COMMENTS>
			<section id="comments" title="Comments">
				<TMPL_IF ADDCOMMENTURL>
				<a href="<TMPL_VAR ADDCOMMENTURL>" class="btn btn-primary">Add a comment</a>
				<TMPL_ELSE>
				<div class="addcomment">Comments on this page are closed.</div>
				</TMPL_IF>
				<TMPL_VAR COMMENTS>
			</section>
			</TMPL_IF>
			</TMPL_UNLESS>

			<TMPL_UNLESS DYNAMIC>
			<TMPL_IF SIDEBAR>
			</div>
			<div class="col-sm-4 col-md-3">
			<aside id="sidebar" class="card card-body mb-3">
				<TMPL_VAR SIDEBAR>
			</aside>
			</div>
			</div>
			</TMPL_IF>
			</TMPL_UNLESS>
		</div>
	</div>

	<footer id="footer" class="container">
		<TMPL_UNLESS DYNAMIC>
		<nav id="pageinfo">
			<TMPL_VAR TRAILS>
			<TMPL_IF TAGS>
			<span class="tags">
				<i class="bi bi-tag"> </i>Tags:
				<TMPL_LOOP TAGS>
				<TMPL_VAR LINK>
				</TMPL_LOOP>
			</span>
			</TMPL_IF>

			<TMPL_IF BACKLINKS>
			<span id="backlinks">
				<i class="bi bi-link-45deg"> </i>Links:
				<TMPL_LOOP BACKLINKS>
				<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
				</TMPL_LOOP>
				<TMPL_IF MORE_BACKLINKS>
				<span class="popup">...
					<span class="balloon">
						<TMPL_LOOP MORE_BACKLINKS>
						<a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>
						</TMPL_LOOP>
					</span>
				</span>
				</TMPL_IF>
			</span>
			</TMPL_IF>

			<TMPL_IF COPYRIGHT>
			<span id="pagecopyright">
				<a name="pagecopyright"/><TMPL_VAR COPYRIGHT>
			</span>
			</TMPL_IF>

			<TMPL_IF LICENSE>
			<span id="pagelicense">
				<a name="pagelicense"/>License: <TMPL_VAR LICENSE>
			</span>
			</TMPL_IF>

			<span id="pagedate">
				Last edited <TMPL_VAR MTIME>.
			</span>
		</nav>
		<TMPL_IF EXTRAFOOTER><TMPL_VAR EXTRAFOOTER></TMPL_IF>
		</TMPL_UNLESS>
	</footer>

	<TMPL_IF BOOTSTRAP_JS>
	<TMPL_IF BOOTSTRAP_LOCAL>
	<script src="<TMPL_VAR BASEURL>js/jquery.min.js"></script>
	<script src="<TMPL_VAR BASEURL>js/tether.min.js"></script>
	<script src="<TMPL_VAR BASEURL>js/bootstrap.min.js"></script>
	<TMPL_ELSE>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
	</TMPL_IF>
	</TMPL_IF>
</body>
</html>
