Someone[1], possibly you, requested that the password for
<TMPL_VAR USER_NAME> on <TMPL_VAR WIKINAME>[2] be reset.

To change your password, visit the following url, and enter a new password:

<TMPL_VAR PASSWORDURL>

This url can only be used once to change your password, and it will also
stop working the next time you successfully log in.

-- 
ikiwiki

[1] Their IP address was <TMPL_VAR REMOTE_ADDR>
[2] Located at <TMPL_VAR WIKIURL>
