<TMPL_IF ERROR>
<p>
<b>Failed to rename <TMPL_VAR SRC> to <TMPL_VAR DEST>: </b>
<TMPL_VAR ERROR>
</p>
<TMPL_ELSE>
<p>
<b>Successfully renamed <TMPL_VAR SRC> to <TMPL_VAR DEST>.</b>
</p>
<p>
<TMPL_IF FIXEDLINKS>
The following pages have been automatically modified to update their links to <TMPL_VAR DEST>:
<ul>
<TMPL_LOOP FIXEDLINKS><li><TMPL_VAR PAGE></li></TMPL_LOOP>
</ul>
</TMPL_IF>
<TMPL_IF BROKENLINKS_CHECKED>
<TMPL_IF BROKENLINKS>
The following pages still link to <TMPL_VAR SRC>:
<ul>
<TMPL_LOOP BROKENLINKS><li><TMPL_VAR PAGE></li></TMPL_LOOP>
</ul>
</TMPL_IF>
</TMPL_IF>
</p>
</TMPL_IF>
