<form method="get" action="<TMPL_VAR SEARCHACTION>" id="searchform" class="form-inline input-group input-group-sm pull-xs-right">
	<input type="text" id="searchbox" name="P" value="" size="12" placeholder="Search…" class="form-control" />
	<span class="input-group-btn">
		<button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
	</span>
</form>
