<form method="get" action="<TMPL_VAR SEARCHACTION>" id="searchform">
	<input type="text" id="searchbox" name="P" value="" size="12" placeholder="Search…" class="form-control" />
	<button class="btn btn-secondary" type="submit"><i class="bi bi-search"></i></button>
</form>
